#root.sudoku {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  margin: auto;
  width: 360px;
}

/* Game Board Styles */
.sudoku .board-component {
  display: grid;
  grid-auto-rows: minmax(auto, 39px);
  grid-template-columns: repeat(9, 1fr);
  margin: 0;
  max-width: 360px;
  padding: 12px;
}

/* Cell Styles */
.sudoku .cell {
  border: 1px solid hwb(0deg 0% 100% / 15%);
  position: relative;
}
.sudoku .cell.cell-top {
  border-top: 1px solid black;
  padding-top: 1px;
}
.sudoku .cell.cell-bottom {
  border-bottom: 1px solid black;
  padding-bottom: 1px;
}
.sudoku .cell.cell-right {
  border-right: 1px solid black;
  padding-right: 1px;
}
.sudoku .cell.cell-left {
  border-left: 1px solid black;
  padding-left: 1px;
}
.sudoku .cell__field-value {
  font-size: 2rem;
  height: 100%;
  text-align: center;
}
.sudoku .cell__field-guess {
  bottom: 100%;
  display: grid;
  font-size: 8px;
  grid-auto-rows: minmax(auto, 12px);
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
}
.sudoku .cell.cell-current {
  background-color: lightgray;
}
.sudoku .cell.cell-selectable {
  cursor: pointer;
}
.sudoku .cell.cell-current-number,
.sudoku .cell.cell-current-number.cell.cell-selected {
  color: blue;
  background-color: cornsilk;
}
.sudoku .cell.cell-selected {
  color: darkcyan;
  background-color: lightcyan;
}
.sudoku .cell.cell-error-state {
  background-color: pink;
}

/* Header */
.sudoku .control-panel__header {
  font-size: 1em;
  padding-top: 6px;
  position: relative;
}
.sudoku .control-panel__icon {
  left: 6px;
  top: 2px;
  position: absolute;
  zoom: 2;
}
.sudoku .control-panel__title {
  text-align: center;
  font-size: 1.5rem;
}

/* Control Panel Styles */
.sudoku .control-panel {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 45px;
  justify-content: space-evenly;
  max-width: 360px;
  margin: 0;
}
.sudoku .control-panel__time,
.sudoku .control-panel__difficulty,
.sudoku .control-panel__errors {
  color: #00000094;
  font-size: 0.75rem;
}

.sudoku .control-panel__pencil {
  align-items: center;
  border-radius: 100%;
  color: gray;
  cursor: pointer;
  display: flex;
  font-size: 2em;
  height: 48px;
  justify-content: center;
  width: 48px;
}
.sudoku .control-panel__pencil.edit-mode {
  background-color: darkgray;
  color: white;
}

/* Number Pad components */
.sudoku .numpad-component {
  display: grid;
  grid-auto-rows: minmax(auto, 39px);
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-columns: repeat(3, 1fr); */
  margin: 0;
  max-width: 360px;
  padding: 12px;
}
.sudoku .numpad-num {
  align-items: center;
  border-radius: 4px;
  display: flex;
  font-size: 2em;
  height: 60px;
  justify-content: center;
  text-align: center;
}
.sudoku .numpad-num:hover {
  background-color: lightgray;
}
.sudoku .numpad-num.current-num {
  background-color: gray;
  color: white;
}
.sudoku .numpad-num.numpad-num__complete {
  background: white;
  color: white;
  pointer-events: none;
}

.sudoku #menu {
  z-index: 3;

  ol li {
    height: 30px;
    list-style-type: circle;
  }
}
