/* App */
.splling_bee {
  display: flex;
  flex-direction: column;
}
/* Nodes */
.nodes {
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.nodes .connector {
  position: absolute;
  height: 0px;
  width: 264px;
  border-style: solid;
  margin: 0px;
  border: 0px;
  border-bottom: solid 1px #dcdcdc;
}

/* .nodes .progress{
    #f7da21} */

.nodes .node {
  padding-left: 8px;
  padding-right: 8px;
}

.nodes .node:after {
  content: "";
  display: block;
  /* position: absolute; */
  left: -4.5px;
  top: -4.5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #dcdcdc;
  transition: background-color 200ms 100ms ease;
}

.nodes .node.filled:after {
  background-color: #f7da21;
}

.nodes .node:first-child {
}

.nodes .node:last-child {
}

.nodes .node.filled + .nodes .node {
}
