body {
  --light-gray: #dcdcdc;
  --dark-gold: #9f923f;
  --gold: #f7da21;
  --white: #fff;
  --black: #333;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-weight: 700;
}
