/* App */
body {
  --light-gray: #e6e6e6;
  --gold: #f7da21;
}

.splling_bee {
  display: flex;
  flex-direction: column;
}

/* Header Components */
header .nodes {
  align-items: center;
  border-radius: 4px;
  border: solid 1px var(--light-gray);
  display: flex;
  flex-direction: row;
  height: 44px;
  justify-content: center;
  margin: 16px auto;
  width: 300px;
}

header .nodes .connector {
  border: 0px;
  border-bottom: solid 1px var(--light-gray);
  border-style: solid;
  height: 0px;
  margin: 0px;
  position: absolute;
  width: 264px;
  z-index: -1;
}

header .nodes .node {
  padding-left: 8px;
  padding-right: 8px;
}

header .nodes .node:after {
  background-color: var(--light-gray);
  border-radius: 50%;
  content: "";
  display: block;
  height: 16px;
  left: -4.5px;
  top: -4.5px;
  transition: background-color 200ms 100ms ease;
  width: 16px;
}

header .nodes .node.filled:after {
  background-color: var(--gold);
}

header .nodes .node:first-child {
}

header .nodes .node:last-child {
}

header .nodes .node.filled + header .nodes .node {
}

header .status {
  text-align: center;
}

/* Body Section */
section.body .hexagon {
  align-items: center;
  background: var(--light-gray);
  display: flex;
  font-size: 24px;
  height: 80px;
  justify-content: center;
  width: 80px;
  transition: 0.7s;
  margin: 2px;
  text-transform: uppercase;
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
}

section.body .hexagon.central {
  background-color: var(--gold);
}

section.body .row {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
section.body .row + .row {
  margin-top: -20px;
}
