.wordle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
}

.wordle .statistics__closeIcon {
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.wordle .how_to_play__closeIcon {
  cursor: pointer;
  pointer-events: all;
}

.wordle .header__icon {
  color: black;
  cursor: pointer;
  font-size: 30px;
  padding: 0 4px;
  pointer-events: all;
}

.wordle .how_to_play__strong {
  font-weight: 900;
}

.wordle .how_to_play__modal,
.wordle .how_to_play__open {
  animation: slideOut 2s;
  background-color: #ffffff;
  bottom: 0;
  left: -100vw;
  position: fixed;
  pointer-events: none;
  right: 100vw;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.wordle .how_to_play__loading {
  left: -100vw !important;
  animation: slideOut 0s;
}

.wordle .how_to_play__open {
  animation: slideIn 2s;
  left: 0;
  right: 0;
  opacity: 1;
}

.wordle .key__spent-character.key__hint-character,
.wordle .key__hint-character {
  background: #c9b458;
  color: white;
}

.wordle .key__spent-character.key__match-character,
.wordle .key__match-character {
  background: #6aaa64;
  color: white;
}

.wordle .key__spent-character {
  background: #787c7e;
  color: white;
}

.wordle .rumble .current_guess .guess__character {
  animation: horizontal-shaking 0.5s infinite;
  color: red;
}

.wordle .guess__character {
  align-items: center;
  background: rgb(135 138 140);
  border: 2px solid rgb(135 138 140);
  color: white;
  display: flex;
  font-family: monospace;
  font-size: 2.5rem;
  font-weight: 800;
  height: 1.25em;
  justify-content: center;
  margin: 2.5px;
  max-height: 60px;
  max-width: 60px;
  pointer-events: none;
  text-transform: uppercase;
  user-select: none;
  width: 1.25em;
}

.wordle .guess__character.hintCharacter {
  background: #c9b458;
  border: 2px solid #c9b458;
}

.wordle .guess__character.matchCharacter {
  background: #6aaa64;
  border: 2px solid #6aaa64;
}

.wordle .guess__character.emptyCharacter {
  background-color: transparent;
  border: 2px solid rgb(0 0 0 / 33%);
}

.wordle .guess__character.currentGuess {
  background-color: white;
  border: 2px solid rgb(135 138 140);
  color: #5a5a5a;
}

.wordle .guess__character.previousCharacter {
  animation-duration: 2s;
  animation-name: characterFlip;
}

@keyframes characterFlip {
  0% {
    background-color: white;
    border: 2px solid rgb(135 138 140);
    color: #5a5a5a;
    transform: rotateX(0deg);
  }

  50% {
    background-color: white;
    border: 2px solid rgb(135 138 140);
    color: #5a5a5a;
    transform: rotateX(90deg);
  }

  51% {
    background-color: inherit;
    border: 2px solid transparent;
    color: inherit;
  }

  100% {
    transform: rotateX(0deg);
  }
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    left: 0;
    right: 0;
  }
  100% {
    left: -100vw;
    right: 100vw;
  }
}

@keyframes slideIn {
  0% {
    left: -100vw;
    right: 100vw;
  }
  100% {
    left: 0;
    right: 0;
  }
}
